<div class="ingredients-pick-desktop ingredients-pick-mobile">
  <div class="chosing-ingredients">
    <div class="searcher-wrapper">
      <!-- Autocomplete ingredients input -->
      <div class="chips chips-ingredients" type="text" (click)="handleDelete($event)"></div>
    </div>
    <!-- Search recipes button -->
    <a class="btn-floating btn-large waves-effect waves-light teal submit-ingredients" (click)="parseListIngredientsToUrl()">
      <i class="material-icons prefix">check</i>
    </a>
  </div>
</div>