.ingredients-pick-mobile{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}


.chips-ingredients{
    z-index: 10;
    position: relative;
}

.ingredients-pick-mobile{
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
}

.chips .autocomplete-content{
    margin-top: 50px;
}



@media (orientation: landscape){
    .ingredients-pick-desktop{
        display: flex;
        flex-direction: row;
        padding: 50px;
        margin-top: 5%;

    }
    .time-drop-down{
        width: 50%;
    }
    .ingredients-chosen{
        width: 50%;
    }
    .chosing-ingredients{
        width: 50%;
    }
    .ingredients-searcher-component{
        width: 50%;
        float: left;
    }
    .food-field {
        padding: 0;
    }

}