.ingredients-pick-mobile{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}
:host-context(.display-recipes) .chosing-ingredients{
    flex-direction: column;
  

}



/* .searcher-wrapper{
    background-color: blue;
} */

.chips-ingredients{
    z-index: 10;
    position: relative;
}

.ingredients-pick-mobile{
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.chips .autocomplete-content{
    margin-top: 50px;
}

.chips.input{
    width: 310px;
}

@media (orientation: landscape){
    .ingredients-pick-desktop{
        display: flex;
        flex-direction: row;
        padding: 50px;
        margin-top: 5%;

    }
    .time-drop-down{
        width: 50%;
    }
    .ingredients-chosen{
        width: 50%;
    }
    .chosing-ingredients{
        width: 50%;
    }
    .ingredients-searcher-component{
        width: 50%;
        float: left;
    }
    .food-field {
        padding: 0;
    }
    :host-context(.display-recipes) .chosing-ingredients{
        width: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    
    }
    :host-context(.display-recipes) .ingredients-pick-desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    :host-context(.display-recipes) .submit-ingredients{
        margin-left: 10px;
    }
    
    :host-context(.display-recipes) .searcher-wrapper{
        width: 90%;
    }

}