.flexbox-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.submit-button-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-button-login{
    width: 50%;
    margin: 0 auto;
}

.form-mobile-style{
    width: 80%;
    padding-top: 10%;
}

.already-account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.error{
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

@media (orientation: landscape){
    .login-form{
        width: 40%;
    }

    .flexbox-container{
        padding: 60px;
    }
}