.every-recipe{
    margin: 0 auto;
    margin-top: 10px;
}

.card-title{
    font-size: 3em;
}

@media (orientation: landscape){
    .every-recipe{
        margin: 0 auto;
        margin-top: 10px;
    }
}