.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 68px;
}

.auth-nav{
    font-family: 'Comfortaa';
    color: white;
}


.login{
    margin-right: 30px;
}


.navbar-logo {
    height: 30px;
    display: flex;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 67vh;
}

.contacts{
display: flex;
flex-direction: row;
font-weight: 100;
}

.grey-text{
    font-weight: unset;
}

.mobile-disappear{
    display: none;
}


.card-panel{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .if-user-logged-in{
    position: fixed;
} */

.customized-row{
    margin-bottom: 0;
    position: relative;
    top: 15px;
}

.customized-col{
    width: 100%;
    padding: 0;
}

@media (orientation: landscape){
    /* .nav-bar {
        justify-content: space-between;
    } */

    .mobile-disappear{
        display: inline;
    }

    .customized-row{
        top: 6px;
    }
}