<header>
  <div class="navbar-fixed">
    <nav class="nav-bar red accent-3">
      <a [routerLink]="['/home']">
        <img class="navbar-logo" src="/assets/images/foodtender-all-white.png">
      </a>
    </nav>
  </div>
  <div *ngIf='user'>
    <div class="if-user-logged-in">
      <div class="row customized-row">
        <div class="col customized-col">
          <div class="card-panel blue-grey lighten-5">
            <a [routerLink]="['/bookmarks']" class="foodtender-red comfortaa">Hello {{ user.username | uppercase }} !
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<body>
  <div class="our-own-container">
    <router-outlet></router-outlet>
  </div>
</body>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text comfortaa">Foodtender | Your fridge friend</h5>
        <p class="grey-text text-lighten-4">Foodtender is a cooking guru. You can provide all the ingredients in your fridge and get everything you can cook
          with them!</p>
      </div>
      <div class="col offset-l1 l5 s12">
        <h5 class="white-text comfortaa">About Us</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3 contacts" href="https://www.linkedin.com/in/claraameller/">
              <i class="material-icons">fingerprint</i>Linkedin Clara Ameller</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3 contacts" href="https://www.linkedin.com/in/morenomedran/">
              <i class="material-icons">fingerprint</i>Linkedin Cristina Moreno</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3 contacts" href="https://github.com/ClaraAmeller">
              <i class="material-icons">flash_on</i>Github Clara Ameller</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3 contacts" href="https://github.com/crismoreno">
              <i class="material-icons">flash_on</i>Github Cristina Moreno</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Clara Ameller & Cristina Moreno
      <a class="grey-text text-lighten-4 right mobile-disappear" href="https://www.ironhack.com">Made with love at Ironhack</a>
    </div>
  </div>
</footer>