.nav-bar {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.auth-nav{
    font-family: 'Comfortaa';
    color: white;
}


.login{
    margin-right: 30px;
}


.navbar-logo {
    height: 30px;
    display: flex;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.page-footer{
    position: relative;
    top: 60vh;
}

@media (orientation: landscape){
    /* .nav-bar {
        justify-content: space-between;
    } */
}