<header>
  <div class="navbar-fixed">
    <nav class="nav-bar red accent-3">
      <a [routerLink]="['/home']">
        <img class="navbar-logo" src="/assets/images/foodtender-all-white.png">
      </a>
    </nav>
  </div>
</header>

<body>
  <div class="our-own-container">
    <router-outlet></router-outlet>
  </div>
</body>

<footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Foodtender | Your fridge friend</h5>
              <p class="grey-text text-lighten-4">Foodtender is a cooking guru. Tell him all the ingredients in your fridge and he'll tell you everything you can cook with them!</p>
            </div>
            <div class="col offset-l1 l5 s12">
              <h5 class="white-text">About Us</h5>
              <ul>
                <li><a class="grey-text text-lighten-3 contacts" href="#!"><i class="material-icons">fingerprint</i>https://www.linkedin.com/in/claraameller/</a></li>
                <li><a class="grey-text text-lighten-3 contacts" href="#!"><i class="material-icons">fingerprint</i>https://www.linkedin.com/in/morenomedran/</a></li>
                <li><a class="grey-text text-lighten-3 contacts" href="#!"><i class="material-icons">flash_on</i>https://github.com/crismoreno</a></li>
                <li><a class="grey-text text-lighten-3 contacts" href="#!"><i class="material-icons">flash_on</i>https://github.com/ClaraAmeller</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Clara Ameller & Cristina Moreno
          <a class="grey-text text-lighten-4 right" href="#!">Made with love</a>
          </div>
        </div>
      </footer>
          
