/* You can add global styles to this file, and also import other style files */
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  *:before, *, *:after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
  }
  
  /*div{
    border: 1px solid black;
  }*/

  .foodtender-red-background{
    color: #ff1744;
  }

  .foodtender-green-background{
    color: #009688;
  }

  .comfortaa{
    font-family: 'Comfortaa';
  }

  .d-flex{
    display: flex;
  }


  .our-own-container{
    margin: 0;
    padding: 0;
    width: 100%;
  }

